* {
	margin: 0;
	padding: 0;
}


body {
	font-family: Arial;
	user-select: none;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	overflow: hidden;
	background: #7F7FD5;
	background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}


#inscription {
	text-align: center;
	margin-top: 20%;
  	font-size: 10rem;
  	color: white;
  	transition: 1s;
}


#inscription:hover {
	transform: scale(1.2);
}